sudo: required
jdk:
- openjdk8
services:
- docker
branches:
  only:
  - master  
install:
- sudo apt-get -qq update
- sudo apt-get -qq -y install graphviz realpath
- docker pull cbcrg/ampa-nf
- curl -fsSL get.nextflow.io | bash
script:
- ./nextflow run . -with-docker
